<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarFinanciera</servlet-name>
        <servlet-class>control.ModificarFinanciera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarReporte</servlet-name>
        <servlet-class>control.IngresarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarReporte</servlet-name>
        <servlet-class>control.BuscarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReportes</servlet-name>
        <servlet-class>control.ControlReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarCSV</servlet-name>
        <servlet-class>control.CargarCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlVehiculo</servlet-name>
        <servlet-class>control.ControlVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBanco</servlet-name>
        <servlet-class>control.ControlBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCompras</servlet-name>
        <servlet-class>control.ControlCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCuentas</servlet-name>
        <servlet-class>control.ControlCuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlInicio</servlet-name>
        <servlet-class>control.ControlInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlVehiculos</servlet-name>
        <servlet-class>control.ControlVehiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPagados</servlet-name>
        <servlet-class>control.ControlPagados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConciliacion</servlet-name>
        <servlet-class>control.ControlConciliacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarFinanciera</servlet-name>
        <url-pattern>/ModificarFinanciera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarReporte</servlet-name>
        <url-pattern>/IngresarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarReporte</servlet-name>
        <url-pattern>/BuscarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReportes</servlet-name>
        <url-pattern>/ControlReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarCSV</servlet-name>
        <url-pattern>/CargarCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlVehiculo</servlet-name>
        <url-pattern>/ControlVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBanco</servlet-name>
        <url-pattern>/ControlBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCompras</servlet-name>
        <url-pattern>/ControlCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCuentas</servlet-name>
        <url-pattern>/ControlCuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlInicio</servlet-name>
        <url-pattern>/ControlInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlVehiculos</servlet-name>
        <url-pattern>/ControlVehiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPagados</servlet-name>
        <url-pattern>/ControlPagados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConciliacion</servlet-name>
        <url-pattern>/ControlConciliacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
