@font-face{
	font-family: "Gotham-Bold";
	src: url('../fonts/gotham/GothamBold.ttf');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconos/icomoon.eot?5t57hk');
  src:  url('../fonts/iconos/icomoon.eot?5t57hk#iefix') format('embedded-opentype'),
    url('../fonts/iconos/icomoon.ttf?5t57hk') format('truetype'),
    url('../fonts/iconos/icomoon.woff?5t57hk') format('woff'),
    url('../fonts/iconos/icomoon.svg?5t57hk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
  color: white;
	margin-right: 15px;
	font-size: 1.7em;
}

.header{
	width:100%;
	height: 50px;
	background-color: #16254C;
}

.slide-menu{
	height: 400px;
}

.contenedor-icono{
	width:100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menu-telefono{
	display: none;
}

.contenedor-menu{
	width: 100%;
	height: 85%;
}

.contenedor-logo{
	width: 100%;
	height: 20%;
	padding: 0px;
	margin:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo{
	height: 45px;
}

.menu{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;	
}

.item-menu{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-menu{
	text-decoration: none;
	color: white;
	text-align: center;
        font-family: Gotham-Bold;
        font-size: .9em;
}

.link-menu:hover{
	color: #16254C;
	background-color: white;
	padding:5px;
}

.menu-fixed{
        position: fixed;
        top: 0px;
        z-index: 10;
}

@media screen and (min-width: 576px){
	.header{
		height: 100px;
		display: block;
	}
	.contenedor-icono{
		display: none;
	}

	.contenedor-menu{
	height: 100%;
		display: flex;
                justify-content:center;
                align-items:center;
	}
	.contenedor-logo{
		width: 30%;
		height: 100%;
	}
	.menu{
		width: 70%;
		height: 80%;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3,30%);
	}
	.link-menu{
		font-size: .75em;
	}
	.item-cerrar{
		grid-row-start: 3;
		grid-column-start: 3;
	}
}

@media screen and (min-width: 768px){
	
	.contenedor-logo{
		width: 20%;
	}
	.link-menu{
		font-size: .8em;
	}
}

@media screen and (min-width: 992px){
	.logo{
		height: 50px;
	}	
        .menu{
		grid-template-columns: repeat(4,25%);
	}
	.item-cerrar{
		grid-row-start: 4;
		grid-column-start: 4;
	}
}

@media screen and (min-width: 1200px){
		
	.link-menu{
		font-size: 1em;
	}
}

	
